@page
@model dotNetZadanie3.Pages.LastSearchedModel
@{
}
<p>Ostatnie 20 wyników</p>

@if (Model.YearsContext != null){
    <ul class="list-group list-group-flush">
        @foreach(var l in Model.YearsContext.Years){
            <li class="list-group-item">
                <span>@l.FullName - @l.Year - @l.wynik</span>
            </li>
        }
    </ul>
}